html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #efeced;
  color: #cdcdcd;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  text-align:center;
}

.docs {
  margin-left: 10px;
  color: #777777;
  font-size: 16px;
  text-decoration: none;
  font-weight: normal;
  /* font-style: italic; */
  position: absolute;
  display: block;
  text-align: center;
  top: 680px;
  width: 150px;
  left: 50%;
  margin-left: -75px;
}

canvas {
  -webkit-box-shadow: 0px 0px 20px #a39b9e;
  margin-top: 50px; }

